<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rxjs playground</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="logsidenav.toggle()"
  >
    <mat-icon>receipt_long</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <div [style.padding.px]="10">
      <mat-nav-list role="list">
        <mat-list-item [routerLink]="['observable']" role="listitem"
          >Observable</mat-list-item
        >
        <mat-list-item [routerLink]="['subject']" role="listitem"
          >Subject</mat-list-item
        >
        <mat-list-item [routerLink]="['creation-operators']" role="listitem"
          >Creation operators</mat-list-item
        >

        <mat-list-item [routerLink]="['filtering-operators']" role="listitem"
          >Filtering operators</mat-list-item
        >

        <mat-list-item [routerLink]="['combination-operators']" role="listitem"
          >Combination operators</mat-list-item
        >

        <mat-list-item
          [routerLink]="['transformation-operators']"
          role="listitem"
          >Transformation operators</mat-list-item
        >

        <mat-list-item [routerLink]="['utility-operators']" role="listitem"
          >Utility operators</mat-list-item
        >

        <mat-list-item [routerLink]="['multicasting-operators']" role="listitem"
          >Multicasting operators</mat-list-item
        >

        <mat-list-item
          [routerLink]="['catching-errors-operators']"
          role="listitem"
          >Catching errors operators</mat-list-item
        >
        <mat-list-item [routerLink]="['users']" role="listitem"
          >Users</mat-list-item
        >
      </mat-nav-list>
    </div></mat-sidenav
  >
  <mat-sidenav-content
    ><div [style.padding.px]="30"><router-outlet></router-outlet></div
  ></mat-sidenav-content>

  <mat-sidenav #logsidenav mode="side" position="end">
    <button (click)="clearLogsClick()" mat-raised-button color="primary">
      Clear logs
    </button>
    <table
      mat-table
      [dataSource]="logs$ | async"
      class="mat-elevation-z8 table-width"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Source</th>
        <td mat-cell *matCellDef="let element">{{ element.source }}</td>
      </ng-container>

      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.content }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-sidenav>
</mat-sidenav-container>
